@import url(./confetti.css);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 50px;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.reset {
  margin: 0;
}

.header__title {
  padding-bottom: 50px;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 8px 2px #142859;
}

.container {
  min-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

.game-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 150px;
}

.game-section {
  padding-bottom: 50px;
}

.game-section__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-menu__title {
  padding-bottom: 40px;
  font-size: 47px;
  color: #142859;
  text-shadow: -1px -1px #e5faff,
    -2px -2px #e5faff,
    -1px 1px #e5faff,
    -2px 2px #e5faff,
    1px 1px #e5faff,
    2px 2px #e5faff,
    1px -1px #e5faff,
    2px -2px #e5faff,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
}

.game-menu__difficult-btn {
  width: 250px;
  height: 85px;
  aspect-ratio: 1;
  font-size: 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(211, 40, 156, 1) 0%, rgba(180, 179, 80, 1) 100%);
}

.game-menu__difficult-btn:not(:last-child) {
  margin-bottom: 20px;
}

.game-table {
  max-width: 1200px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.game-card {
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: url(../img/card.jpeg);
  background-position: center;
  background-size: cover;
  margin: 2%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.game-card i {
  font-size: 40px;
  display: none;
}

.game-card i+i {
  display: block;
}

.restart-btn {
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(211, 40, 156, 1) 0%, rgba(180, 179, 80, 1) 100%);
}

.game-card.flip {
  background: #ecebdc;
  transform: perspective(400px) rotateY(180deg);
}

.game-card.flip i {
  display: block;
}

.game-card.flip i+i {
  display: none;
}

.game-card.successfully {
  background: rgb(114, 216, 114);
}